extends layout

block content
  .row
    .col-lg-3.col-1
    .col-lg-6.col-10
      h1 Infos
      p 
      | Cette carte interactive a été réalisée à partir de l'étude 
      a(href="https://ec.europa.eu/commfrontoffice/publicopinion/archives/ebs/ebs_386_fr.pdf", target="_blank") "Les Européens et leurs langues"
      | , coordonnée par
      | la Commission européenne en 2012 et basée sur les données de l'enquête 
      a(href="https://data.europa.eu/euodp/fr/data/dataset/S1049_77_1_EBS386", target="_blank")  Eurobaromètre Spécial 386.
      p
      | A noter: la carte n'est pas exhaustive et ne montre que les cinq
      | langues les plus utilisées dans chaque pays.
      p
      | Le code de l'application est publié sur 
      a(href="https://github.com/rdesmartin/languageborders") Github 
      | sous license MIT.
      p
      a(href="/") Retour à la carte
    .col-lg-3.col-1
    
