a {
  color: #00B7FF;
}

html, body {
  max-width: 100vw;
  overflow: hidden;
}

#map {
  height: 100vh;
}

#sidepanel {
  position: absolute;
  right: -300px;
  top: 0;
  z-index: 99999;
  height: 100vh;
  width: 300px;
  transition: 0.5s;
  transition-property: right;
  background-color: white;
  box-shadow: 2px 2px 5px;
  overflow-y: scroll;
}

#panelcontainer {
  max-width: 100%;
  padding: 1rem;
}

#closepanelContainer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

#closepanel {
  align-self: flex-end;
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-center {
  padding-top: 0.3rem;
}

.margin-r {
  margin-right: 0.5rem
}
